@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Quicksand&family=Nunito:wght@600&display=swap");

:root {
  --remedyfont: "Nunito", sans-serif;
  --thinfont: "Quicksand", sans-serif;
  --titlefont: "Josefin Sans", sans-serif;
  --coolyellow: #f9c80e;
  --visiblegray: #797979;
}
/* Header */
body {
  background: azure;
  box-sizing: border-box;
}
header {
  background: var(--coolyellow);
  font-family: var(--remedyfont);
}
.card {
  margin: 10px;
  max-width: 500px;
}

.site {
  margin: 30px;
  border: none;
  box-shadow: 2px 4px 6px #afafaf;
  transition: all 0.5s;
}
.site:hover {
  box-shadow: 4px 8px 10px #00b4d8;
}
.title {
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  font-family: var(--titlefont);
}
.description {
  text-decoration: none;
  text-align: left;
  margin-top: 20px;
  font-family: var(--thinfont);
  color: var(--visiblegray);
}
a:link {
  text-decoration: none;
}

/* Footer */
.footer {
  background: black;
  padding: 5px;
  color: #fff;
}

.disclaimer {
  font-size: 0.8rem;
}
.link {
  padding: 8px;
  font-size: 1.2rem;
  color: #fff;
}
.link:hover {
  color: var(--coolyellow);
}

/* Screen Adjust */
@media (max-width: 480px) {
  .title {
    font-size: 1.1rem;
  }
  .description {
    font-size: 0.6rem;
  }
}
